# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/
android/app/build/
android/app/release/
android/build/
android/.gradle/
android/local.properties

# Environment variables
.env
.env*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Capacitor
android/capacitor-cordova-android-plugins/build/
android/.gradle/

# Vite cache
node_modules/.vite/
